* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.note {
    background-color: #ffff00;
}

header {
    background-color: aqua;
}

nav {
    background-color: blueviolet;
}

main {
    display: flex;
}

aside {
    flex: 30%;
    background-color: blue;
}

article {
    flex: 70%;
    background-color: chartreuse;
}

footer {
    clear: both;
    background-color: rgb(245, 220, 226);
}