table, th, td {
    border-collapse: collapse;
    border: solid 2px;
    border-color: rgb(194, 83, 28);
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    color: blue;
    border: none;
}

.Day {
    color: white;
    background-color: rgba(233, 163, 13, 0.726);
}

.Day_Sun {
    background-color: red;
}

.Day_Sat {
    background-color: blue;
}

td, th {
    text-align: center;
    width: 80px;
    height: 30px;
}

.Sun {
    color: red;
    font-weight: bolder;
}

.Sat {
    color:blue;
    font-weight: bolder;
}

sub {
    color:black;
    font-weight: normal;
}
